server {
    server_name {{ nginx_proxy_server_name }};

{% if nginx_additional_caching_proxy_config is defined %}
### start of nginx_additional_caching_proxy_config ###

{{ nginx_additional_caching_proxy_config }}


### end of nginx_additional_caching_proxy_config ###
{% endif %}

    location / {
        proxy_pass             {{ nginx_proxy_schema }}://{{ nginx_proxy_ip }};
        proxy_set_header       Host $host;
        proxy_cache            STATIC;
        proxy_cache_bypass $http_cache_control;
        add_header X-Proxy-Cache $upstream_cache_status;
        proxy_cache_valid      200  1d;
        proxy_cache_use_stale  error timeout invalid_header updating
                                http_500 http_502 http_503 http_504;
    }
}
